body{
  display:flex;
  padding:0;
  margin:0;
}
span.container{
  border: 2px solid;
  background:#daa520;
  padding-left:10px;
}
h1.train{
  color:white;
}
.improve{
  border: 2px solid;
  padding:10px;
  align-items: center;
  padding-right: 2px;
  background:#f8f8ff;
}